<h1>Admin::Styles#edit</h1>
<p>Find me in app/views/admin/styles/edit.html.erb</p>

<%= form_with model:@styles, url:admin_style_path(@styles.id), method: :patch do |f| %>
	<%= f.text_field :name %>
	<%= f.submit '変更を保存' ,class:'btn btn-outline-success' %>
<% end %>